.footer {
    height: 15rem;
    background-color: $color-dark;
    color: #eee;
    font-size: 1.4rem;

    &__container {
        text-align: center;
    }

    &__navigation {
        list-style: none;

        margin: 0 auto;
        text-align: center;
        display: inline-block;
        
        
        & li {
            float: left;
            text-transform: uppercase;
            padding: 2rem;
            transition: all .4s;
        }

        & li:hover,
        & li:active {
            color: $color-red;
        }

    }
}