@font-face {
    font-family: Aileron Regular;
    src: url("../fonts/Aileron-Regular.otf") format("opentype");
}

@font-face {
    font-family: Aileron Regular;
    font-weight: bold;
    src: url("../fonts/Aileron-Bold.otf") format("opentype");
}

@font-face {
    font-family: Caladea;
    font-weight: bold;
    src: url("../fonts/caladea-bold.ttf") format("truetype");
}